/* ********************************GLOBAL RULES************************** */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto","Arial",sans-serif;
}
.page-container{
    width:auto;
    height: 100%;
    /* margin-left: 5PX; */
    /* margin-right: 20px; */
    padding-left: 10px;
    padding-right:10px ;
    /* background-color: #d8df81; */
}
/* @media (min-width:768px){
    .page-container{width: 750px;}
}
@media (min-width:990px){
    .page-container{width: 970px;}
}
@media(min-width:1200px){
    .page-container{width: 1170;}
} */

/* ***********************************************HEADER*********************************** */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    margin: 0 16px;
    cursor: pointer;
}
.left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    }
    .left-section img {
        width: 100px;
        padding-left: 16px;
    }
    .mid-section {
        display: flex ;
        align-items: center;
        padding-left: -20%;
        justify-content: center;
    }
    .mid-section form {
        display: flex;
        height: 40px;
        width: 628px;
    }
    .mid-section input{
        width: 100%;
        border-radius: 10px 0 0 12px;
        padding: 12px;
        font-size: 1.6rem;
        border: 1px solid #d3d3d3;
    }
    .mid-section button{
        width: 46px;
        border: 1px solid hsl(0, 0%, 83%);
        border-radius: 0 10px 10px;
        padding: 5px  ;
        background-color: #f8f8f8;
    }
    .mid-section button :hover{
        background-color:#c6c6c6;
        border-color: #f8f8f8;
    }
    #mic {
        display: flex;
        width: 40px;
        height: 40px;
        border: 1px solid  #d3d3d3;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    .right-section a {
        color: black;
        padding-right: 18px;
        text-decoration: none;
    }

    /* #####################################END OF HEADER#####################33 */

    .content-area{
        display: flex;
        height:calc(100vh - 56px);
        background-color: #f9f9f9;
    }
    aside{
        height: 100%;
        width: 20%;
        overflow-y: auto;
        background-color: white;
    }
     nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 15px 0 15px 0;
     }
    
    .nav-link-active{
        display: flex;
        padding: 10px 16px;    
    
        align-items: center;
        justify-content: baseline;
        padding: 16px;
        background-color:#f0f0f0;
        text-decoration: none;
    }
    #active-span {
        font-size: 1.4em;
        line-height: .75em;
        font-weight: 600;
        color: black;
        margin: 1px;
    }
    .nav-link{
        display: flex;
        align-items: center;
        padding: 10px 16px;    
        text-decoration: none;
        color: rgba(0, 5, 5, 0.911);
        text-decoration: none;
        line-height: 0.1rem;
        
    }
    .nav-link :hover{
        padding: 10px 16px;    
        text-decoration: none;
    
        background-color: #f3f1f1;
    }
    .nav-link span{
       margin: 15px;
       font-size: 1.4em;
       font-weight: 400;
    }
    hr{
        border: none;
        background-color: #e5e5e5;
        margin: 10px 0;
        height: 1px;
    }
    .subscriptions{
        padding: 8px 16px;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 400;
    
    }
    
    .channel-image{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .main{
        display: flex;
        width: calc(100% - 220px);
        background-color: rgb(247, 252, 252);
        height: 100%;
        padding:35px 15px;
        border-top: 1px solid #ddd;
    }
    .videos-container{
        width: auto;
        padding-left: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        overflow-y: auto;
    }
    .video{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 240px;
        height: 160px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-right: 10px;
        margin-right: 10px;
        cursor: pointer;
    
        
    }  
    .tumbnail{
        width: 100%;
        height: 130px;
        margin-bottom: 10px;
    
    }  
    .thumbnail img{
        width: 240px;
        height: 130px;
    }
    .video-details{
        display: flex;
    }
    .creator-image img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 12px;
    }
    .video-info{
        display: flex;
        flex-direction: column;
    }
    .video-info a{
        text-decoration: none;
        font-size: 10px;
        color: black;
    }
    
    
